


<div class="container">

    <div class="panel panel-primary">
        <div class="panel-heading">Welcome to the Pixabay API documentation. </div>
        <div class="panel-body">

            <div class="card">
                <div class="card-header">
                    * Search Image Here!
                </div>
                <div class="card-body">
                    <nav class="navbar navbar-light bg-light">
                        <form >
                          <input class="form-control mr-sm-2" type="text"  id="textValue1" (keyup)="SearchSomethin()" placeholder="Search" aria-label="Search">
                          <button type="button" class="btn btn-outline-success my-2 my-sm-0" (click)="SearchSomethin()">Search</button>
                        </form>
                      </nav>{{textValue}}
                      <div class="container-flude">
                        <div class="row">
                          <div class="col-12" >

                            <div class="overflow-auto"  (scroll)="scrollHandler($event)" >
                                <ng-container *ngFor=" let data of imageListArray?.hits ; let i = index ">

                                    <img  class="ImageWidth"  src="{{data.previewURL}}" class="img-thumbnail" alt="...">

                                    <span ></span>
                                </ng-container>
                                
                                <div >
    
                                </div>
                            </div>
                            <ng-container  *ngIf="imageListArray?.total === 0
                                    ">
                                    <p> No Images Found</p>
                                </ng-container>
                            </div>
                       </div>
                </div>
              </div>

        </div>
      </div>
</div>